/*
  CSS Reset from
  Josh: https://www.joshwcomeau.com/css/custom-css-reset/
  Andy-bell: https://andy-bell.co.uk/a-more-modern-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
btn,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: currentColor;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
btn,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}
/* Reset Ends */

/* Hides screen-reader contents */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Fonts */
@font-face {
  font-family: Retropix;
  font-weight: 400;
  src: url(./assets/font/retropix.otf);
}

/* Custom properties */
:root {
  /* primary colors */
  --purple: hsl(263, 73%, 27%);
  --btn-purple: hsl(264, 100%, 69%);
  --btn-dark-purple: hsl(265, 46%, 49%);
  --btn-green: hsl(111, 53%, 43%);
  --btn-dark-green: hsl(115, 40%, 38%);
  --btn-red: hsl(356, 96%, 62%);
  --btn-dark-red: hsl(340, 62%, 35%);

  /* neutral colors */
  --white: hsl(0, 0%, 100%);

  /* font-weights */
  --regular: 400;
  --bold: 700;
  --extra-bold: 800;
}

/* btn component starts */
.btn {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: inherit;
  font-weight: bold;
  color: var(--white);
  background-image: linear-gradient(
    to bottom right,
    var(--btn-purple),
    var(--btn-dark-purple)
  );
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 0px var(--btn-dark-purple);
  transition: all 0.2s ease-in-out;
}

.btn:is(:hover) {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px var(--btn-dark-purple);
}

.btn:is(:active) {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(
    to bottom right,
    var(--btn-dark-purple),
    var(--btn-purple)
  );
}

/* btn component ends */

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: var(--white);
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: var(--purple);
  background-image: url(./images/gradient.png);
  background-repeat: no-repeat;
  background-position: center -50px, -75px 105%;
  background-size: auto 50%, 200px;
}

main {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90% 10%;
  width: min(100%, 900px);
  margin: 0 auto;
  padding: 1rem;
  background-image: url(./images/question\ mark.png);
  background-repeat: no-repeat;
  background-position: -75px 105%;
  background-size: 200px;
  overflow: hidden;
}

.intro {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0.8rem;
}

.intro__logo {
  display: grid;
  place-content: center;
  min-height: 45%;
  margin-bottom: 30px;
}

.intro__img {
  width: min(100%, 330px);
  margin: auto;
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro__heading {
  max-width: 40ch;
  margin-bottom: 15px;
}

.intro__paragraph {
  max-width: 40ch;
  margin-bottom: 30px;
}

.quiz {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz__question {
  display: grid;
  place-content: center;
  height: 45%;
  max-width: 80ch;
  font-family: 'Retropix', monospace;
  margin-bottom: 30px;
}

.quiz__question .code span {
  display: block;
}

.quiz__question .code .code__highlighted {
  margin-bottom: 10px;
}

.quiz__options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__option {
  width: 250px;
}

.quiz__btn:is(:disabled) {
  pointer-events: none;
}

.quiz__option_correct {
  background-image: linear-gradient(
    to bottom right,
    var(--btn-green),
    var(--btn-dark-green)
  );
  box-shadow: 0px 4px 0px var(--btn-dark-green);
}

.quiz__option_correct:is(:hover) {
  box-shadow: 0px 6px 0px var(--btn-dark-green);
}

.quiz__option_correct:is(:active) {
  background-image: linear-gradient(
    to bottom right,
    var(--btn-green),
    var(--btn-dark-green)
  );
  box-shadow: 0px 4px 0px var(--btn-dark-green);
}

.quiz__option_wrong {
  background-image: linear-gradient(
    to bottom right,
    var(--btn-red),
    var(--btn-dark-red)
  );
  box-shadow: 0px 4px 0px var(--btn-dark-red);
}

.quiz__option_wrong:is(:hover) {
  box-shadow: 0px 6px 0px var(--btn-dark-red);
}

.quiz__option_wrong:is(:active) {
  background-image: linear-gradient(
    to bottom right,
    var(--btn-dark-red),
    var(--btn-red)
  );
}

.quiz__next-btn {
  grid-column: 1/2;
  grid-row: 2/3;
  display: block;
  border: none;
  background: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: 15%;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.quiz__next-btn:is(:disabled) {
  opacity: 0.3;
}

.quiz__next-btn > img {
  max-width: 30px;
  margin: auto;
}

.quiz__hint {
  margin-top: 20px;
}

.hint {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.hint__title {
  font-style: italic;
  width: max-content;
  border-bottom: 1px dotted;
}

.hint__paragraph {
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: hsl(0, 2%, 12%);
}

.hint__title:is(:hover, :focus, :focus-visible) + .hint__paragraph {
  display: block;
}

.quiz__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quiz__input {
  color: var(--white);
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  background: none;
  background-image: linear-gradient(
    to bottom right,
    hsl(0, 2%, 12%),
    hsl(0, 1%, 28%)
  );
}

.quiz__input::placeholder {
  color: var(--white);
}

.quiz__form-feedback {
  margin-top: 15px;
  max-width: 100px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.result__heading {
  height: 20%;
}

.result__paragraph {
  font-size: 1.5rem;
}

.result__paragraph--highlighted {
  display: block;
  font-size: 4em;
  font-family: var(--bold);
}

.finish__btn {
  grid-column: 1/2;
  grid-row: 2/3;
  width: min(500px, calc(100% - 2rem));
  margin: auto;
  margin-bottom: 5%;
  background-image: linear-gradient(
    to bottom right,
    var(--btn-green),
    var(--btn-dark-green)
  );
  box-shadow: 0px 4px 0px var(--btn-dark-green);
}

.finish__btn:is(:hover) {
  box-shadow: 0px 6px 0px var(--btn-dark-green);
}

.finish__btn:is(:active) {
  background-image: linear-gradient(
    to bottom right,
    var(--btn-green),
    var(--btn-dark-green)
  );
  box-shadow: 0px 4px 0px var(--btn-dark-green);
}

@media screen and (min-width: 480px) {
  body {
    background-size: 100% 50%, 230px;
  }

  main {
    background-size: 230px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-size: 769px 50%, 230px;
  }

  main {
    background-size: 230px;
    background-position: 0px 105%;
  }

  .intro__logo {
    margin-bottom: 50px;
  }

  .intro__img {
    width: min(100%, 500px);
  }

  .btn__option {
    width: 400px;
  }
}

/* Animation */
.intro__content {
  animation: intro-in 0.5s ease-in;
  -webkit-animation: intro-in 0.5s ease-in;
}

@keyframes intro-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@-webkit-keyframes intro-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

.intro__btn_shake {
  animation: tilt-n-move-shaking 1s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  25% {
    transform: translate(0, 0) rotate(0eg);
  }
  35% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@-webkit-keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  25% {
    transform: translate(0, 0) rotate(0eg);
  }
  35% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.intro_hide {
  animation: intro-out 1s ease-in;
  -webkit-animation: intro-out 1s ease-in;
}

@keyframes intro-out {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes intro-out {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.quiz_show {
  animation: quiz-in 0.5s;
  -webkit-animation: quiz-in 0.5s;
}

@keyframes quiz-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes quiz-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.quiz_hide {
  transform: translateX(0%);
  animation: quiz-out 0.5s forwards;
  -webkit-animation: quiz-out 0.5s forwards;
}

@keyframes quiz-out {
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes quiz-out {
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
  }
}

.result__paragraph--highlighted {
  animation: show-result 0.5s;
  -webkit-animation: show-result 0.5s;
}

@keyframes show-result {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

@-webkit-keyframes show-result {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

.hide {
  display: none;
}
